---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Offres</title>
    </head>
    <body>
        <h1>Offres</h1>
    </body>
</html>

<Header />
<h1>Offres</h1>

<Layout titre="Offres">
    <h1>Offres</h1>
</Layout>
