---
import Layout from "../../layouts/Layout.astro";
import OffreCard from "../../components/OffreCard.astro";
import { getOffres } from "../../backend.mjs";

const toutesLesOffres = await getOffres();
const offres = toutesLesOffres.filter((offre) => offre.favori === true);
---

<Layout titre="Favoris">
    <h1 class="text-2xl font-bold mb-4">Maisons favorites</h1>

    {
        offres.length === 0 ? (
            <p>Aucune maison favorite pour le moment.</p>
        ) : (
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
                {offres.map((offre) => (
                    <OffreCard offre={offre} />
                ))}
            </div>
        )
    }
</Layout>
